Using the gapminder_total dataset solve the following tasks with pandas.

1. Read in data:
df = pd.read_csv('../data/gapminder_total.csv')

2. What is the median population in the data set?

3. How often does each continent appear in the data set?

4. Which continent has the lowest average fertility rate overall?

5. What was the average life expectancy in Europe in 2015? 
Hint: first filter for 2015 then apply groupby.

6. How many countries does each continent have in the dataset?
Hint: filter for one year and count

7. What is the average population of a European country in 1976 compare to 2015?
Hint: once again filter for the year in question and do each year separately to compare

BONUS

8. What is the highest population a continent ever had?
Hint: group by multiple columns

9. Which continent had that population and in which year?
Hint: group by multiple columns and filter for the result from #6

In [2]:
import pandas as pd
import seaborn as sns

1. Read in data:
df = pd.read_csv('../data/gapminder_total.csv')

In [3]:
gapminder_df = pd.read_csv('../data/gapminder_total.csv')
gapminder_df.sample(20)

,continent,country,year,life_expectancy,fertility,population
4055,Asia,Japan,1979,76.18,1.80,114993274.0
7980,Europe,Romania,2010,73.70,1.37,20298838.0
3736,Asia,India,1990,58.20,3.88,870601776.0
10696,South America,Guyana,1954,58.04,5.81,468805.0
2010,Africa,Mozambique,1980,49.17,6.49,11936379.0
6270,Europe,Bulgaria,1950,61.41,2.66,7250999.0
9955,Australia and Oceania,New Zealand,2005,79.80,2.05,4134699.0
4641,Asia,Mongolia,1971,57.08,7.55,1317049.0
8236,Europe,Sweden,2002,80.00,1.67,8911899.0
6589,Europe,Denmark,2005,78.30,1.80,5417692.0
8604,North America,Barbados,1974,67.83,2.51,244539.0
9420,North America,Mexico,1998,73.70,2.77,99632299.0
4993,Asia,Qatar,1993,74.50,3.72,492120.0
1431,Africa,Lesotho,1995,58.70,4.55,1753824.0
10270,Australia and Oceania,Vanuatu,1990,61.90,4.93,146633.0
7203,Europe,Italy,1959,69.30,2.34,49403558.0
6084,Europe,Belarus,1962,71.01,2.70,8356956.0
4420,Asia,Kuwait,2014,80.20,2.58,3753121.0
1239,Africa,Guinea,2001,54.40,5.87,8955756.0
778,Africa,Egypt,2002,69.80,3.18,70908710.0

In [4]:
gapminder_df.describe()

               year  life_expectancy     fertility    population
count  11088.000000     11088.000000  11088.000000  1.108800e+04
mean    1982.500000        62.520617      4.326293  2.660673e+07
std       19.051231        11.965181      2.052590  1.050455e+08
min     1950.000000        13.200000      1.130000  2.499900e+04
25%     1966.000000        54.107500      2.340000  1.486554e+06
50%     1982.500000        65.015000      4.240000  5.190648e+06
75%     1999.000000        71.860000      6.290000  1.547069e+07
max     2015.000000        83.300000      9.220000  1.376049e+09

In [5]:
gapminder_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11088 entries, 0 to 11087
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   continent        11088 non-null  object
 1   country          11088 non-null  object
 2   year             11088 non-null  int64
 3   life_expectancy  11088 non-null  float64
 4   fertility        11088 non-null  float64
 5   population       11088 non-null  float64
dtypes: float64(3), int64(1), object(2)
memory usage: 519.9+ KB

2. What is the median population in the data set?

In [6]:
gapminder_df.groupby('continent')['population'].median()

continent
Africa                    4448422.5
Asia                     11226230.5
Australia and Oceania      260801.0
Europe                    6369540.0
North America             3023852.0
South America             9226835.0
Name: population, dtype: float64

3. How often does each continent appear in the data set?

In [7]:
gapminder_df.groupby('continent')['continent'].count()

continent
Africa                   3234
Asia                     2574
Australia and Oceania     594
Europe                   2640
North America            1254
South America             792
Name: continent, dtype: int64

In [8]:
gapminder_df.groupby('continent').count()

                       country  year  life_expectancy  fertility  population
continent
Africa                    3234  3234             3234       3234        3234
Asia                      2574  2574             2574       2574        2574
Australia and Oceania      594   594              594        594         594
Europe                    2640  2640             2640       2640        2640
North America             1254  1254             1254       1254        1254
South America              792   792              792        792         792

In [9]:
gapminder_df.groupby('continent').nunique()

                       country  year  life_expectancy  fertility  population
continent
Africa                      49    66             1696        591        3234
Asia                        39    66             1488        674        2574
Australia and Oceania        9    66              479        368         594
Europe                      40    66             1059        344        2640
North America               19    66              800        509        1254
South America               12    66              552        378         792

In [10]:
gapminder_df.value_counts('continent')

continent
Africa                   3234
Europe                   2640
Asia                     2574
North America            1254
South America             792
Australia and Oceania     594
Name: count, dtype: int64

4. Which continent has the lowest average fertility rate overall?

* group by continent
* calculate the average fertility rate
* min fertility_avg

In [11]:
gapminder_df.groupby('continent')['fertility'].mean().round(2).sort_values().head(1)

continent
Europe    2.17
Name: fertility, dtype: float64

In [12]:
gapminder_df.groupby('continent')['fertility'].mean().idxmin()

'Europe'

5. What was the average life expectancy in Europe in 2015? 
Hint: first filter for 2015 then apply groupby.

In [13]:
gapminder_df[gapminder_df['year']==2015].groupby('continent')['life_expectancy'].mean().round(2).sort_values().tail(1)

continent
Europe    78.76
Name: life_expectancy, dtype: float64

In [14]:
agg_dict = {'life_expectancy':['mean']}
gapminder_df[(gapminder_df['year']==2015) & (gapminder_df['continent']=='Europe')].groupby('continent').agg(agg_dict)

          life_expectancy
                     mean
continent
Europe             78.755

6. How many countries does each continent have in the dataset?
Hint: filter for one year and count

In [15]:
gapminder_df[gapminder_df['year']==2015].groupby('continent')['country'].count() # sorted by alphabet of the continent

continent
Africa                   49
Asia                     39
Australia and Oceania     9
Europe                   40
North America            19
South America            12
Name: country, dtype: int64

In [16]:
gapminder_df[gapminder_df['year']==2015]['continent'].value_counts() # sorted by values

continent
Africa                   49
Europe                   40
Asia                     39
North America            19
South America            12
Australia and Oceania     9
Name: count, dtype: int64

7. What is the average population of European countries in 1976 compare to 2015?
Hint: once again filter for the year in question and do each year separately to compare

In [17]:
gapminder_df[gapminder_df['continent']=='Europe']

     continent         country  year  life_expectancy  fertility  population
5808    Europe         Albania  1950            54.48       5.80   1263171.0
5809    Europe         Albania  1951            54.72       5.90   1287499.0
5810    Europe         Albania  1952            55.23       6.07   1316086.0
5811    Europe         Albania  1953            55.85       6.21   1348097.0
5812    Europe         Albania  1954            56.59       6.31   1382881.0
...        ...             ...   ...              ...        ...         ...
8443    Europe  United Kingdom  2011            80.50       1.90  63164949.0
8444    Europe  United Kingdom  2012            80.70       1.90  63573766.0
8445    Europe  United Kingdom  2013            80.80       1.89  63955654.0
8446    Europe  United Kingdom  2014            80.90       1.89  64331348.0
8447    Europe  United Kingdom  2015            81.00       1.89  64715810.0

[2640 rows x 6 columns]

In [18]:
gapminder_df[gapminder_df['year']==1976]

           continent    country  year  life_expectancy  fertility  population
26            Africa    Algeria  1976            56.11       7.34  17190236.0
92            Africa     Angola  1976            44.68       7.19   7299508.0
158           Africa      Benin  1976            47.46       6.96   3345501.0
224           Africa   Botswana  1976            58.07       6.44    853860.0
290           Africa    Burundi  1976            44.43       7.44   3744696.0
...              ...        ...   ...              ...        ...         ...
10784  South America   Paraguay  1976            70.81       5.20   2861582.0
10850  South America       Peru  1976            59.99       5.57  15639898.0
10916  South America   Suriname  1976            66.47       4.53    361368.0
10982  South America    Uruguay  1976            69.58       2.95   2841436.0
11048  South America  Venezuela  1976            68.23       4.57  13739142.0

[168 rows x 6 columns]

In [19]:
gapminder_df[(gapminder_df['continent']=='Europe') & (gapminder_df['year']==1976)]

,continent,country,year,life_expectancy,fertility,population
5834,Europe,Albania,1976,70.17,4.24,2464338.0
5900,Europe,Armenia,1976,72.38,2.65,2882831.0
5966,Europe,Austria,1976,71.77,1.69,7630536.0
6032,Europe,Azerbaijan,1976,65.92,3.81,5789050.0
6098,Europe,Belarus,1976,71.46,2.13,9423421.0
6164,Europe,Belgium,1976,72.05,1.78,9787576.0
6230,Europe,Bosnia and Herzegovina,1976,73.24,2.34,4008411.0
6296,Europe,Bulgaria,1976,71.44,2.19,8761231.0
6362,Europe,Croatia,1976,70.00,2.00,4518103.0
6428,Europe,Cyprus,1976,74.15,2.32,657526.0
6494,Europe,Czech Republic,1976,70.88,2.31,10122450.0
6560,Europe,Denmark,1976,73.91,1.75,5079962.0
6626,Europe,Estonia,1976,69.88,2.10,1433207.0
6692,Europe,Finland,1976,72.04,1.72,4726803.0
6758,Europe,France,1976,73.38,1.98,53293030.0
6824,Europe,Georgia,1976,69.00,2.46,4942018.0
6890,Europe,Germany,1976,72.02,1.53,78604473.0
6956,Europe,Greece,1976,72.85,2.34,9132531.0
7022,Europe,Hungary,1976,69.75,2.12,10593989.0
7088,Europe,Iceland,1976,76.94,2.57,220162.0
7154,Europe,Ireland,1976,72.81,3.46,3234153.0
7220,Europe,Italy,1976,73.07,2.08,55539118.0
7286,Europe,Latvia,1976,69.48,1.92,2470263.0
7352,Europe,Lithuania,1976,71.38,2.17,3328245.0
7418,Europe,Luxembourg,1976,70.31,1.53,356563.0
7484,Europe,Malta,1976,73.36,2.08,309328.0
7550,Europe,Moldova,1976,65.57,2.47,3876947.0
7616,Europe,Montenegro,1976,72.33,2.45,560424.0
7682,Europe,Netherlands,1976,74.61,1.63,13722272.0
7748,Europe,Norway,1976,75.17,1.86,4025297.0
7814,Europe,Poland,1976,70.88,2.26,34468877.0
7880,Europe,Portugal,1976,69.12,2.65,9314301.0
7946,Europe,Romania,1976,69.87,2.57,21877548.0
8012,Europe,Serbia,1976,70.03,2.37,8579631.0
8078,Europe,Slovenia,1976,70.51,2.20,1759725.0
8144,Europe,Spain,1976,73.81,2.68,36302392.0
8210,Europe,Sweden,1976,74.96,1.68,8218630.0
8276,Europe,Switzerland,1976,74.98,1.61,6355245.0
8342,Europe,Ukraine,1976,70.01,2.01,49036202.0
8408,Europe,United Kingdom,1976,72.62,1.78,56212943.0

In [20]:
gapminder_df[(gapminder_df['continent']=='Europe') & (gapminder_df['year']==1976)]['population'].mean().round(0)

13840494.0

In [21]:
gapminder_df[(gapminder_df['continent']=='Europe') & (gapminder_df['year']==2015)]['population'].mean().round(0)

15122676.0

In [22]:
gapminder_df[(gapminder_df['continent']=='Europe') & ((gapminder_df['year']==1976) | (gapminder_df['year']==2015))].groupby('year')['population'].mean().round(0)

year
1976    13840494.0
2015    15122676.0
Name: population, dtype: float64

In [23]:
gapminder_df_1976 = gapminder_df[gapminder_df['year']==1976].copy()
gapminder_df_2015 = gapminder_df[gapminder_df['year']==2015].copy()

gapminder_df_1976['population_by_mio'] = (gapminder_df_1976['population']/1000000)
gapminder_df_2015['population_by_mio'] = (gapminder_df_2015['population']/1000000)

agg_dict = {'population_by_mio': ['mean']}

group_1976 = gapminder_df_1976.groupby('continent').get_group('Europe').agg(agg_dict).round(4)
group_2015 = gapminder_df_2015.groupby('continent').get_group('Europe').agg(agg_dict).round(4)

print(f"1976: {group_1976}")
print(f"2015: {group_2015}")

1976:       population_by_mio
mean            13.8405
2015:       population_by_mio
mean            15.1227

BONUS

8. What is the highest population a continent ever had?
Hint: group by multiple columns

In [25]:
copy_df = gapminder_df.copy()
copy_df["population_by_billion"] = (copy_df["population"] / 1000000000)

population_mil = {'population': ['max']}

copy_df.groupby(["continent"]).max().sort_values("population_by_billion") #.tail(1)

,country,year,life_expectancy,fertility,population,population_by_billion
continent,,,,,,
Australia and Oceania,Vanuatu,2015,82.4,7.68,2.396897e+07,0.023969
Europe,United Kingdom,2015,83.3,6.40,8.201018e+07,0.082010
Africa,Zimbabwe,2015,77.6,8.51,1.822020e+08,0.182202
South America,Venezuela,2015,79.5,6.88,2.078475e+08,0.207848
North America,United States,2015,81.7,7.68,3.217736e+08,0.321774
Asia,Yemen,2015,83.2,9.22,1.376049e+09,1.376049

9. Which continent had that population and in which year?
Hint: group by multiple columns and filter for the result from #6