Using the gapminder_total dataset solve the following tasks with pandas.

1. Read in data:
df = pd.read_csv('../data/gapminder_total.csv')

2. What is the median population in the data set?

3. How often does each continent appear in the data set?

4. Which continent has the lowest average fertility rate overall?

5. What was the average life expectancy in Europe in 2015? 
Hint: first filter for 2015 then apply groupby.

6. How many countries does each continent have in the dataset?
Hint: filter for one year and count

7. What is the average population of a European country in 1976 compare to 2015?
Hint: once again filter for the year in question and do each year separately to compare

BONUS

8. What is the highest population a continent ever had?
Hint: group by multiple columns

9. Which continent had that population and in which year?
Hint: group by multiple columns and filter for the result from #6

In [2]:
import pandas as pd
#1. Read in data:
df = pd.read_csv('../data/gapminder_total.csv')
df.head()

  continent  country  year  life_expectancy  fertility  population
0    Africa  Algeria  1950            42.77       7.65   8872247.0
1    Africa  Algeria  1951            43.03       7.65   9039913.0
2    Africa  Algeria  1952            43.50       7.65   9216395.0
3    Africa  Algeria  1953            43.96       7.65   9405445.0
4    Africa  Algeria  1954            44.44       7.65   9609507.0

In [3]:
#2. What is the median population in the data set?
df['population'].agg('mean')

26606727.36778499

In [4]:
#3. How often does each continent appear in the data set?
df['continent'].value_counts()

continent
Africa                   3234
Europe                   2640
Asia                     2574
North America            1254
South America             792
Australia and Oceania     594
Name: count, dtype: int64

In [5]:
#option 2
df['continent'].value_counts(normalize=True)

#normalize= calculates relatives frequencies (%) instead of absolute counts

continent
Africa                   0.291667
Europe                   0.238095
Asia                     0.232143
North America            0.113095
South America            0.071429
Australia and Oceania    0.053571
Name: proportion, dtype: float64

In [7]:
#4. Which continent has the lowest average fertility rate overall?
df.groupby('continent')['fertility'].agg('min')df.groupby('continent')['fertility'].mean().idxmin()

#Option 2
#agg_dict = {'fertility': 'mean'}
#df.groupby('continent').agg(agg_dict).sort_values('fertility').head(1)

'Europe'

In [8]:
#5. What was the average life expectancy in Europe in 2015? 
#Hint: first filter for 2015 then apply groupby.
df_2015= df[df['year']==2015]
df_2015
df_2015.groupby('continent')['life_expectancy'].mean()

continent
Africa                   63.410204
Asia                     73.933333
Australia and Oceania    69.666667
Europe                   78.755000
North America            75.152632
South America            75.141667
Name: life_expectancy, dtype: float64

In [9]:
#6. How many countries does each continent have in the dataset?
#Hint: filter for one year and count
df.groupby('continent')['country'].nunique()

continent
Africa                   49
Asia                     39
Australia and Oceania     9
Europe                   40
North America            19
South America            12
Name: country, dtype: int64

In [16]:
#7. What is the average population of a Europe country in 1976 compare to 2015?
#Hint: once again filter for the year in question and do each year separately to compare
df[(df['year']==1976) | (df['year']==2015) & (df['continent']=='Europe')].groupby('year')['population'].mean().round(2)

year
1976    23129315.36
2015    15122675.72
Name: population, dtype: float64

## BONUS

In [12]:
#8. What is the highest population a continent ever had?
#Hint: group by multiple columns
max_pop_continent= df.groupby(['continent'])['population'].max()
max_pop_continent.max()

1376048943.0

In [13]:
#9. Which continent had that population and in which year?
#Hint: group by multiple columns and filter for the result from #6
max_pop_continent= df.groupby(['continent', 'year'])['population'].agg(['max'])
max_pop_continent.idxmax()

max    (Asia, 2015)
dtype: object