# Selecting Rows and Columns

- execute command
- using critical thinking, talking to others and any research tools figure out how and what the command does
- make notes in notebook for later reference

### 1. Read Data

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/yob_1880.csv', index_col=0)

### 2. Inspect Data

In [3]:
df.shape

(2000, 2)

In [4]:
df.head(3)

     gender  frequency
name
Mary      F       7065
Anna      F       2604
Emma      F       2003

In [ ]:
df.tail(3)

### 3. Select Columns

In [ ]:
df["gender"]

In [ ]:
col_names = ['gender', 'frequency']
df[col_names].head(3)

In [ ]:
#  display the 'frequency' column

In [ ]:
#  display the 'gender' and 'frequency' columns

### 4. Select Rows

In [ ]:
df.loc['Anna']

In [ ]:
df.loc[['Anna', 'John', 'Mary']]

In [ ]:
gender = df.set_index('gender')
gender

In [ ]:
gender.loc['M'].head(3)

In [ ]:
df.iloc[[1, 3, 5]]

In [ ]:
df.iloc[1:5]

In [ ]:
df.iloc[::2]

In [ ]:
# display the data for row(s) containing William

In [ ]:
# display the data for all rows with William, Paul, and Anne

### 5. Select Both Rows and Columns

In [ ]:
df.loc[['Anna', 'John', 'Mary'], ['frequency']]

In [ ]:
df.iloc[1:5, 0:2]

In [ ]:
# display the 'frequency' column for William, Paul, and Anne

In [ ]:
# display the first three names and both columns

In [ ]:
# display the both columns for every second name