## Exercise on wine dataset


Let's start off by following the general workflow that we use when moving data into a DataFrame: 

    * Importing Pandas
    * Reading data into the DataFrame
    * Getting a general sense of the data

So, in terms of what you should do for this part...

1. Select the first 10 rows of the `chlorides` column. 
2. Select the last 10 rows of the `chlorides` column. 
3. Select columns `chlorides` **and** `density`. 
4. Select all rows where the `chlorides` value is less than 0.10. 
5. Now select all the rows where the `chlorides` value is greater than the column's mean (try **not** to use a hard-coded value for the mean, but instead a method).
6. Select all those rows where the `pH` is greater than 3.0 and less than 3.5. Further filter the results from 6 to grab only those rows that have a `residual sugar` less than 2.0. 

If you'd like some extra practice, try answering each of the questions in more than one way (because remember, we can often select data in a couple of different ways). Selecting is the same as displaying on the screen in this context.

In [3]:
import pandas as pd

In [5]:
df = pd.read_csv('../../../Data/winequality-red.csv', delimiter=';')

In [6]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [7]:
#1. Select the first 10 rows of the `chlorides` column. 
#2. Select the last 10 rows of the `chlorides` column. 

df.chlorides.head(10)
df.chlorides.tail(10)

1589    0.073
1590    0.077
1591    0.089
1592    0.076
1593    0.068
1594    0.090
1595    0.062
1596    0.076
1597    0.075
1598    0.067
Name: chlorides, dtype: float64

In [8]:
#3. Select columns `chlorides` and `density`. 
df[['chlorides', 'density']]

      chlorides  density
0         0.076  0.99780
1         0.098  0.99680
2         0.092  0.99700
3         0.075  0.99800
4         0.076  0.99780
...         ...      ...
1594      0.090  0.99490
1595      0.062  0.99512
1596      0.076  0.99574
1597      0.075  0.99547
1598      0.067  0.99549

[1599 rows x 2 columns]

In [9]:
#4. Select all rows where the `chlorides` value is less than 0.10.

df[df.chlorides <.1]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [10]:
#5. Now select all the rows where the `chlorides` value is greater than the column's mean
#(try not to use a hard-coded value for the mean, but instead a method.)

df[df.chlorides < df.chlorides.mean()]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
5,7.4,0.660,0.00,1.8,0.075,13.0,40.0,0.99780,3.51,0.56,9.4,5
6,7.9,0.600,0.06,1.6,0.069,15.0,59.0,0.99640,3.30,0.46,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1593,6.8,0.620,0.08,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5,6
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [14]:
#6. Select all those rows where the `pH` is greater than 3.0 and less than 3.5. 

df[(df['pH'] > 3.0) & (df['pH']< 3.5)]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
6,7.9,0.60,0.06,1.6,0.069,15.0,59.0,0.99640,3.30,0.46,9.4,5
7,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.99460,3.39,0.47,10.0,7
...,...,...,...,...,...,...,...,...,...,...,...,...
1592,6.3,0.51,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1593,6.8,0.62,0.08,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5,6
1594,6.2,0.60,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1596,6.3,0.51,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1598,6.0,0.31,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [16]:
#7. Further filter the results from 6 to grab only those rows that have a `residual sugar` less than 2.0.

df[(df['pH'] > 3.0) & (df['pH'] < 3.5) & (df['residual sugar'] < 2.0)]


df.query('`pH` > 3.0 and `pH` < 3.5 and `residual sugar` < 2.0')

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
6,7.9,0.60,0.06,1.6,0.069,15.0,59.0,0.99640,3.30,0.46,9.4,5
7,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.99460,3.39,0.47,10.0,7
10,6.7,0.58,0.08,1.8,0.097,15.0,65.0,0.99590,3.28,0.54,9.2,5
13,7.8,0.61,0.29,1.6,0.114,9.0,29.0,0.99740,3.26,1.56,9.1,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1569,6.2,0.51,0.14,1.9,0.056,15.0,34.0,0.99396,3.48,0.57,11.5,6
1576,8.0,0.30,0.63,1.6,0.081,16.0,29.0,0.99588,3.30,0.78,10.8,6
1578,6.8,0.67,0.15,1.8,0.118,13.0,20.0,0.99540,3.42,0.67,11.3,6
1590,6.3,0.55,0.15,1.8,0.077,26.0,35.0,0.99314,3.32,0.82,11.6,6
1593,6.8,0.62,0.08,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5,6

## Exercise on iris dataset

![IRIS, https://github.com/simonava5/fishers-iris-data](../images/iris.png)

After the notebook with a lot of new input, let's start applying it totally by yourselves. 
For this purpose we will use one of the most standard real-life datasets: It's called Iris Dataset, and is all about the plant iris. Let's learn a little bit more about the dataset by taking a closer look at it.

In [18]:
# import pandas
import pandas as pd

In [20]:
# load the data
iris = pd.read_csv('../../../Data/iris.csv')

1. Let us first have a look at the head of the table, maybe also on the last 10 rows...

In [21]:

display(iris.head())
display(iris.tail(10))

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

     sepal_length  sepal_width  petal_length  petal_width         species
140           6.7          3.1           5.6          2.4  Iris-virginica
141           6.9          3.1           5.1          2.3  Iris-virginica
142           5.8          2.7           5.1          1.9  Iris-virginica
143           6.8          3.2           5.9          2.3  Iris-virginica
144           6.7          3.3           5.7          2.5  Iris-virginica
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

2. How many irises are the data set?

In [ ]:
display(iris.shape)

3. Calculate the basic descriptive statistics for all columns of the iris data set using a single command.

In [ ]:
iris.describe()

4. Add the sum of the sepal width and length as a new column to your data frame.

In [23]:
iris.eval("sepal_sum = sepal_length + sepal_width", inplace=True)
iris

,sepal_length,sepal_width,petal_length,petal_width,species,petal_area,sepal_sum
0,5.1,3.5,1.4,0.2,Iris-setosa,0.28,8.6
1,4.9,3.0,1.4,0.2,Iris-setosa,0.28,7.9
2,4.7,3.2,1.3,0.2,Iris-setosa,0.26,7.9
3,4.6,3.1,1.5,0.2,Iris-setosa,0.30,7.7
4,5.0,3.6,1.4,0.2,Iris-setosa,0.28,8.6
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,11.96,9.7
146,6.3,2.5,5.0,1.9,Iris-virginica,9.50,8.8
147,6.5,3.0,5.2,2.0,Iris-virginica,10.40,9.5
148,6.2,3.4,5.4,2.3,Iris-virginica,12.42,9.6
149,5.9,3.0,5.1,1.8,Iris-virginica,9.18,8.9

5. Create a new column with a rough estimate of petal area by multiplying petal length and width together.

In [22]:
iris.eval("petal_area = petal_length * petal_width", inplace=True)
display(iris)

,sepal_length,sepal_width,petal_length,petal_width,species,petal_area
0,5.1,3.5,1.4,0.2,Iris-setosa,0.28
1,4.9,3.0,1.4,0.2,Iris-setosa,0.28
2,4.7,3.2,1.3,0.2,Iris-setosa,0.26
3,4.6,3.1,1.5,0.2,Iris-setosa,0.30
4,5.0,3.6,1.4,0.2,Iris-setosa,0.28
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,11.96
146,6.3,2.5,5.0,1.9,Iris-virginica,9.50
147,6.5,3.0,5.2,2.0,Iris-virginica,10.40
148,6.2,3.4,5.4,2.3,Iris-virginica,12.42
149,5.9,3.0,5.1,1.8,Iris-virginica,9.18

6. Create a new dataframe with petal areas greater than $1cm^2$.

In [24]:
iris_big = iris[iris.petal_area > 1]
iris_big

,sepal_length,sepal_width,petal_length,petal_width,species,petal_area,sepal_sum
50,7.0,3.2,4.7,1.4,Iris-versicolor,6.58,10.2
51,6.4,3.2,4.5,1.5,Iris-versicolor,6.75,9.6
52,6.9,3.1,4.9,1.5,Iris-versicolor,7.35,10.0
53,5.5,2.3,4.0,1.3,Iris-versicolor,5.20,7.8
54,6.5,2.8,4.6,1.5,Iris-versicolor,6.90,9.3
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,11.96,9.7
146,6.3,2.5,5.0,1.9,Iris-virginica,9.50,8.8
147,6.5,3.0,5.2,2.0,Iris-virginica,10.40,9.5
148,6.2,3.4,5.4,2.3,Iris-virginica,12.42,9.6
149,5.9,3.0,5.1,1.8,Iris-virginica,9.18,8.9

7. Using the original unfiltered dataframe, create 3 new dataframes, each containing only irises of each a single species 'Iris-setosa', 'Iris-versicolor' or 'Iris-virginica'.

In [25]:
iris1 = iris[iris.species == "Iris-setosa"]
iris1.head()

,sepal_length,sepal_width,petal_length,petal_width,species,petal_area,sepal_sum
0,5.1,3.5,1.4,0.2,Iris-setosa,0.28,8.6
1,4.9,3.0,1.4,0.2,Iris-setosa,0.28,7.9
2,4.7,3.2,1.3,0.2,Iris-setosa,0.26,7.9
3,4.6,3.1,1.5,0.2,Iris-setosa,0.30,7.7
4,5.0,3.6,1.4,0.2,Iris-setosa,0.28,8.6

In [26]:
iris2 = iris[iris.species == "Iris-versicolor"]
iris2.head()

,sepal_length,sepal_width,petal_length,petal_width,species,petal_area,sepal_sum
50,7.0,3.2,4.7,1.4,Iris-versicolor,6.58,10.2
51,6.4,3.2,4.5,1.5,Iris-versicolor,6.75,9.6
52,6.9,3.1,4.9,1.5,Iris-versicolor,7.35,10.0
53,5.5,2.3,4.0,1.3,Iris-versicolor,5.20,7.8
54,6.5,2.8,4.6,1.5,Iris-versicolor,6.90,9.3

In [27]:
iris3 = iris[iris.species == "Iris-virginica"]
iris3

,sepal_length,sepal_width,petal_length,petal_width,species,petal_area,sepal_sum
100,6.3,3.3,6.0,2.5,Iris-virginica,15.00,9.6
101,5.8,2.7,5.1,1.9,Iris-virginica,9.69,8.5
102,7.1,3.0,5.9,2.1,Iris-virginica,12.39,10.1
103,6.3,2.9,5.6,1.8,Iris-virginica,10.08,9.2
104,6.5,3.0,5.8,2.2,Iris-virginica,12.76,9.5
105,7.6,3.0,6.6,2.1,Iris-virginica,13.86,10.6
106,4.9,2.5,4.5,1.7,Iris-virginica,7.65,7.4
107,7.3,2.9,6.3,1.8,Iris-virginica,11.34,10.2
108,6.7,2.5,5.8,1.8,Iris-virginica,10.44,9.2
109,7.2,3.6,6.1,2.5,Iris-virginica,15.25,10.8
110,6.5,3.2,5.1,2.0,Iris-virginica,10.20,9.7
111,6.4,2.7,5.3,1.9,Iris-virginica,10.07,9.1
112,6.8,3.0,5.5,2.1,Iris-virginica,11.55,9.8
113,5.7,2.5,5.0,2.0,Iris-virginica,10.00,8.2
114,5.8,2.8,5.1,2.4,Iris-virginica,12.24,8.6
115,6.4,3.2,5.3,2.3,Iris-virginica,12.19,9.6
116,6.5,3.0,5.5,1.8,Iris-virginica,9.90,9.5
117,7.7,3.8,6.7,2.2,Iris-virginica,14.74,11.5
118,7.7,2.6,6.9,2.3,Iris-virginica,15.87,10.3
119,6.0,2.2,5.0,1.5,Iris-virginica,7.50,8.2
120,6.9,3.2,5.7,2.3,Iris-virginica,13.11,10.1
121,5.6,2.8,4.9,2.0,Iris-virginica,9.80,8.4
122,7.7,2.8,6.7,2.0,Iris-virginica,13.40,10.5
123,6.3,2.7,4.9,1.8,Iris-virginica,8.82,9.0
124,6.7,3.3,5.7,2.1,Iris-virginica,11.97,10.0
125,7.2,3.2,6.0,1.8,Iris-virginica,10.80,10.4
126,6.2,2.8,4.8,1.8,Iris-virginica,8.64,9.0
127,6.1,3.0,4.9,1.8,Iris-virginica,8.82,9.1
128,6.4,2.8,5.6,2.1,Iris-virginica,11.76,9.2
129,7.2,3.0,5.8,1.6,Iris-virginica,9.28,10.2
130,7.4,2.8,6.1,1.9,Iris-virginica,11.59,10.2
131,7.9,3.8,6.4,2.0,Iris-virginica,12.80,11.7
132,6.4,2.8,5.6,2.2,Iris-virginica,12.32,9.2
133,6.3,2.8,5.1,1.5,Iris-virginica,7.65,9.1
134,6.1,2.6,5.6,1.4,Iris-virginica,7.84,8.7
135,7.7,3.0,6.1,2.3,Iris-virginica,14.03,10.7
136,6.3,3.4,5.6,2.4,Iris-virginica,13.44,9.7
137,6.4,3.1,5.5,1.8,Iris-virginica,9.90,9.5
138,6.0,3.0,4.8,1.8,Iris-virginica,8.64,9.0
139,6.9,3.1,5.4,2.1,Iris-virginica,11.34,10.0
140,6.7,3.1,5.6,2.4,Iris-virginica,13.44,9.8
141,6.9,3.1,5.1,2.3,Iris-virginica,11.73,10.0
142,5.8,2.7,5.1,1.9,Iris-virginica,9.69,8.5
143,6.8,3.2,5.9,2.3,Iris-virginica,13.57,10.0
144,6.7,3.3,5.7,2.5,Iris-virginica,14.25,10.0
145,6.7,3.0,5.2,2.3,Iris-virginica,11.96,9.7
146,6.3,2.5,5.0,1.9,Iris-virginica,9.50,8.8
147,6.5,3.0,5.2,2.0,Iris-virginica,10.40,9.5
148,6.2,3.4,5.4,2.3,Iris-virginica,12.42,9.6
149,5.9,3.0,5.1,1.8,Iris-virginica,9.18,8.9